<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="resetpassword.css">
      <div class="main">
        <div class="container">
          <div id="square">
            <div class="front">
              <img src="https://dicot.tech/Assets/images/Logo.svg" alt="Img1" width="300">
              <h2><b>Password Reset</b></h2>
              <p1>Enter new password and then repeat it</p1>
              <form action="#" method="post">
                <input
                  required
                  type="password"
                  name="new password"
                  id="password"
                  placeholder="new password"
                />
                <input
                  required
                  type="password"
                  name="repeat password"
                  id="password"
                  placeholder="repeat password"
                />
                <button id="front" button type="submit">Save</button>
              </form>
            </div>
        </div>
    </div>
</body>
</html>