* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  .main {
    width: 100vw;
    height: 100vh;
    display: flex;
    color: rgb(4, 14, 4);
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: rgb(255, 255, 255);
  }
  .container {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    margin: 0 auto;
    border-radius: 5px 100px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  #square {
    display: flex;
    min-width: 400px;
    min-height: 400px;
    margin-bottom: 200px;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all 0.3s ease-in;
    box-shadow: 3px 3px 5px #012a4a;
  }
  .front{
    width: 100%;
    height: 100%;
    padding: 25px;
    display: flex;
    border-radius: 10px;
    position:absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #fcfeff;
    box-shadow: 3px 3px 5px #012a4a;
  }
  .front {
    transform: translateZ(50px);
  }
  .actions button {
    border: 0;
    outline: none;
    font-size: 20px;
    min-height: 30px;
    padding: 30px 60px;
    border-radius: 4px;
    background-color:  rgb(24, 171, 251);
  }
  .container form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .container form input,
  .container form button,
  .container form h5 {
    margin-bottom: 10px;
  }
  
  .container form input {
    border: 1;
    padding: 10px 4px;
    min-height: 30px;
    font-size: 15px;
    border-radius: 5px;
    border-color: rgb(219, 215, 215);
    box-sizing: border-box;
  }
  
  .container form button {
    border: none;
    padding: 10px 0;
    outline: none;
    color:aliceblue;
    min-height: 30px;
    font-size: 20px;
    border-radius: 4px;
    background-color: rgb(24, 171, 251);
  }